<body>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Quicksand:400,700|Questrial" rel="stylesheet"
  />
  <h1 align="center">My Favorite</h1>
  
  <div align="center">
    <h2>K-POP Artists</h2>
    <img src="../../assets/img/btob.jpg" width="650px" height="400px">
    <h2>BTOB - 2nd Album "Brother Act.</h2>
    <h3>Music Preview</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/wDkjWSt3HOM" frameborder="0" gesture="media" allowfullscreen></iframe>
  </div>

  <div align="center">
    <h2>Korea Series</h2>
    <img src="../../assets/img/goblin.jpg" width="700px" height="400px">
    <h2>Guardian : The Lonely and Great God or Goblin (도깨비)</h2>
    <h3>Teaser Preview</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/gGkIVSnqxHA" frameborder="0" gesture="media" allowfullscreen></iframe>
  </div>

  <div>
    <h3 align="center"> DOLNAPA CHIMSA-ARD </h3>
    <h3 align="center"> 58102010806 </h3>
  </div>
</body>